.nav {
    grid-area: n;
    background: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.item {
    color: white !important;
}

a.active,
a:hover{
    color: red !important;
    text-decoration: underline;
}